@model Car;

@{
    var car = Model;
    @* var source = Model.source; *@
}

<div>
    <p>@($"Name: {car?.Name}")</p>
    <p>Usage Duration: @car?.Duration</p>
    <p>Description: @Html.Raw(car?.HtmlDescription)</p>
    <p>Image:
    <figure>
        <img src="@car?.Image" alt="@car?.Name" />
        <figcaption>@car?.Name</figcaption>
    </figure>
</div>

@* <div class="alert-info">From: @source</div> *@
