@using lab2.Models.Domain;
@using System.Text.Json;
@model List<Ticket>;
@{
    var ticketsJson = JsonSerializer.Serialize(Model);
}

<a asp-action="Add">Add a new item</a>

<p>
    <span style="color:red;">Tickets: </span> @ticketsJson
</p>
<br>
