@model Tickets.BL.ViewModels.TicketEditVM


<form asp-action="Edit" method="post">
    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title" />
    </div>

    <div>
        <label asp-for="DepartmentId"></label>
        <select asp-for="DepartmentId" asp-items="ViewBag.Departments"></select>
    </div>


    <div>
        <label asp-for="DevelopersIds"></label>
        <select asp-for="DevelopersIds" asp-items="ViewBag.Developers"></select>
    </div>
    <button class="btn btn-success">Submit</button>
</form>