@using Tickets.BL.ViewModels;
@using Tickets.DAL;
@model TicketEditVM;

<form asp-action="Edit" method="post">

    <div class="form-group">
        <label asp-for="Id"></label>
        <input type="hidden" class="form-control" asp-for="Id" />
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <input class="form-control" asp-for="Description" />
    </div>

    <div class="form-group">
        <label asp-for="Title"></label>
        <input class="form-control" asp-for="Title" />
    </div>

    <div class="form-group">
        <label asp-for="Severity"></label>
        <select asp-for="Severity" asp-items="Html.GetEnumSelectList<Severity>()"></select>
    </div>

    <button class="btn btn-secondary"> Submit </button>

</form>